*{
    font-family:'poppins';
    margin:0;
    padding:0;
}
/*  ----------- navbar ----------- */
header{
    width: 100%;
    justify-content: center;    
}
.navbar {
    display:flex;   
    justify-content:space-between;
    align-items:center;
    margin: 0 25px;
}
.logo, .logo-name{
    display: flex;
    font-size: 2rem;
    justify-content:center;
    align-items:center;
    padding: 10px;
    color:purple;
    font-size:2.5rem;
    text-decoration: none;
}
.logo:hover, .logo-name:hover{
    transition:0.2s;
    color:black;
}
.logo-name:hover + .logo-image{
    
}
/* .logo a{
    text-decoration: none;
} */
.links{
    display:flex;
    align-items: center;
    justify-content:center;
}
.links ul {
    display:flex;
    align-items: center;
    justify-content:center;
}
.links ul li{
    font-weight:bold;
    list-style:none;
    margin:5px 30px;
}
.links ul li:hover{
    /* size: 30%; */
    font-size: 1.5rem;
    color: purple;
    transition:0.2s;
    border-bottom: 3px solid purple;
}
.links a{
    text-decoration: none;
    color: black;
}
.links a:active{
    color:purple;
}

.dark-mode{
    cursor:pointer;
    font-weight:bold;
    margin:5px 10px;
}
.dark-mode:hover{
    color:purple;
}
.dark-mode:active{
    background-color: black;
    color:white;   
}

/* Portfolio page*/
/* mini-navbar */
.mini-navbar{
    display:flex;
    justify-content: center;
    padding:5px;
}
.mini-navbar ul{
    display: flex;
}
.mini-navbar ul li{
    list-style: none;
    margin: 2px;
    padding: 5px 10px;
    cursor: pointer;
}
.mini-navbar ul li a{
    text-decoration: none;
    color: black;
}
.mini-navbar ul li a:hover{
    color: purple;
    transition:0.2s;
}

/* skills */
.skills{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5px;
    height: 30vh;
}
.skills ul{
    display: flex;
}
.skills ul li{
    list-style: none;
    padding: 20px 50px;
}


/* Community page */
.survey{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.survey h1{
    padding: 10px;
}
.survey a{
    text-decoration: none;
    color: purple;
}
.survey-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.survey-content p{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 5px;
}

/* footer */
footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
footer h2{
    display:flex;
    justify-content: center;
    padding: 30px;
    font-size: 0.9rem;
}
.footer{
    display:flex;
    justify-content: center;
}
.footer-innerdivs{
    padding: 50px;
}
.social-links, .other-links{
    justify-content: center;
}
.social-links h1, .other-links h1{
    padding: 20px;
}
.social-links ul, .other-links ul{
    list-style: none;
}
.social-links ul li a, .other-links ul li a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: black;
    font-size: 0.95rem;
}
.social-links ul li a:hover , .other-links ul li a:hover{
    color: purple;
    transition:0.2s;
}
.blah{
    font-size: 5rem;
}