*{
    font-family:'poppins';
    margin:0;
    padding:0;
    transition: 0.2s;
}
/*  ----------- navbar ----------- */
header{
    width: 100%;
    justify-content: center;    
}
.navbar {
    display:flex;   
    justify-content:space-between;
    align-items:center;
    padding: 0 25px;
    background-color: black;
}
.logo, .logo-name{
    display: flex;
    font-size: 2rem;
    justify-content:center;
    align-items:center;
    padding: 10px;
    color:purple;
    font-size:2.5rem;
    text-decoration: none;
}
.dharmesh{
    color: white;
}
.logo:hover, .logo-name:hover{
    transition:0.2s;
    color:white;
}
/* .logo-name:hover + .logo-image{
    
} */
/* .logo a{
    text-decoration: none;
} */
.links{
    display:flex;
    align-items: center;
    justify-content:center;
}
.links ul {
    display:flex;
    align-items: center;
    justify-content:center;
}
.links ul li{
    font-weight:bold;
    list-style:none;
    margin:5px 30px;
}
.links ul li:hover{
    font-size: 1.5rem;
    color: purple;
    transition:0.2s;
    border-bottom: 4px solid purple;
    border-radius: 3px;
}
.links a{
    text-decoration: none;
    color: white;
}
.links a:active{
    color:purple;
}

.dark-mode{
    cursor:pointer;
    font-weight:bold;
    margin:5px 10px;
    color: white;
}
.dark-mode:hover{
    color:purple;
}
.dark-mode:active{
    background-color: purple;
    color:white;   
}

/* --- Index page --- */
.blah{
    display:flex;
    justify-content: center;
    font-size: 50px;
}
/* --- Portfolio page ---*/
/* mini-navbar */
.mini-navbar{
    display:flex;
    justify-content: center;
    padding:5px;
}
.mini-navbar ul{
    display: flex;
}
.mini-navbar ul li{
    list-style: none;
    margin: 2px;
    padding: 5px 10px;
    cursor: pointer;
}
.mini-navbar ul li a{
    text-decoration: none;
    color: black;
}
.mini-navbar ul li a:hover{
    color: purple;
    transition:0.2s;
}

/* skills */
.skills{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:5px;
    height: 30vh;
}
.skills h1{
    padding: 20px;
}
.skills text{
    font-size: 20px;
    color: purple;
}
.skills text, ul{
    padding:7px;
    display: flex;
    align-items: center;
}
.black-hole{
    position: absolute;
    width: 20px;
    background-color: black;
    display: flex;
    height: 20px;
    border: 1px solid black;
    border-radius: 15px;
    justify-content: flex-start;
}
.skills ul li{
    list-style: none;
    padding: 0 50px;
}

/* resume/cv */
.resume\/cv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.resume\/cv h1{
    display: flex;
    justify-content: center;
    width:100%;
    padding: 20px;
}
.downloadable-files{
    display: flex;
    padding: 10px;
    justify-content:space-between;
}
.downloadable-files-content{
    display: flex;
    padding: 0 50px;
    align-items: center;
}
.downloadable-files-content a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.downloadable-files-content a:hover{
    color:purple;
    transition: 0.2s;
}

/* Community page */
.survey{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.survey h1{
    padding: 10px;
}
.survey a{
    text-decoration: none;
    color: purple;
}
.survey-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.survey-content p{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 5px;
}

/* footer */
footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.footer{
    display:flex;
    justify-content: center;
}
.footer-innerdivs{
    padding: 50px;
}
.social-links, .other-links{
    justify-content: center;
}
.social-links h1, .other-links h1{
    padding: 20px;
}
.social-links ul, .other-links ul{
    display:flex;
    list-style: none;
    justify-content: center;
}
.social-links ul li a, .other-links ul li a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: black;
    font-size: 0.95rem;
}
.social-links ul li a:hover , .other-links ul li a:hover{
    color: purple;
    transition:0.2s;
}
.info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 0.9rem;
}
.info ul{
    display:flex;
    justify-content: center;
    align-items: center;
}