*{
    font-family:'Poppins', sans-serif;
    margin:0;
    padding:0;
    transition: 0.2s;
    line-height: 1.7;
}
html{
    font-size: 100%; 
}

/*  ----------- navbar ----------- */
header{
    width: 100%;
    justify-content: center;    
}
.navbar {
    display:flex;   
    justify-content:space-between;
    align-items:center;
    padding: 1rem 2rem;
    background-color: black;
}
.logo{
    display:flex;
    justify-content: center;
    align-items:center;
}
.logo-image{
    transition: 1s;
    width:8rem;
    height:8rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
}
.logo-name{
    display: flex;
    font-size: 2rem;
    justify-content:center;
    align-items:center;
    padding: 1rem;
    /* color:rgb(161, 4, 161); */
    color:rgb(211, 86, 211);

    font-size:2.5rem;
    text-decoration: none;
}
.dharmesh{
    color: white;
}
.logo:hover, .logo-name:hover{
    transition:0.2s;
    color:white;
}
/* .logo-name:hover + .logo-image{
    
} */
/* .logo a{
    text-decoration: none;
} */
.links{
    width: 70%;
    display:flex;
    align-items: center;
    justify-content:center;
}
.links ul {
    display:flex;
    align-items: center;
    justify-content:center;
    position: relative;
}
.links ul li{
    font-weight:bold;
    list-style:none;
    position:absolute;
}
.links ul li:hover{
    font-size: 1.5rem;
    color:rgb(211, 86, 211);
    transition:0.2s;
    border-bottom: 0.3rem solid rgb(211, 86, 211);
    border-radius: 0.3rem;
}
.links a{
    text-decoration: none;
    color: white;
}
.links a:active{    
    color:rgb(211, 86, 211);
}

.dark-mode{
    cursor:pointer;
    font-weight:bold;
    margin:1rem 2rem;
    color: white;
}
.dark-mode:hover{
    color:rgb(211, 86, 211);
}
.dark-mode:active{
    background-color:rgb(211, 86, 211);
    color:white;   
}

.circle-element{
    position: absolute;
    display: inline-block;
    margin: 5rem 75rem;
    padding: 5rem;
    height: 5rem;
    width: 5rem;
    background-color: black;
    background-image: linear-gradient(-45deg, purple 0 40%, transparent 40% 100%);
    border-radius: 8.5rem;
}

/* --- Index page --- */
.intro{
    display:flex;
    justify-content: space-around;
    align-items:center;
    padding:8rem;
}
.intro-para{
    padding:2rem;
    font-size: 1rem;
}
.dc-img{
    display:flex;
    padding: 1rem;
}
.image{
    height: 30rem;
    width: 30rem;
    object-fit: cover;
    object-position: 10% 1%;
    border-radius:50%;
}

/* --- Portfolio page ---*/
/* mini-navbar */
.mini-navbar{
    display:flex;
    justify-content: space-evenly;
    padding:.5rem;
    background-color: black;
}
.mini-navbar ul{
    display: flex;
}
.mini-navbar ul li{
    list-style: none;
    margin: .2rem;
    padding: .5rem 1rem;
    cursor: pointer;
}
.mini-navbar ul li a{
    text-decoration: none;
    color: white;
}
.mini-navbar ul li a:hover{
    color: purple;
    transition:0.5s;
}
.mini-navbar ul li a:active{
    scroll-behavior: smooth;
    transition: 5s;
}

.para{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:5rem;
}
#pill{
    background-image: linear-gradient(-45deg, purple 0 40%, transparent 40% 100%);
    margin: 0 0 5rem 0;
    padding: 1rem;
    border-radius: 10rem;
}

/* --------------- Projects --------------- */
.projects{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:4rem;
    padding:.5rem 5rem;
    /* background-color: purple; */
}
.proj{
    padding: 2rem;
    height: 100vh;
}
.proj h3{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.proj-name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:2rem;
}
.proj-name h2{
    padding-top: 0.5rem;
}
.proj-summary{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.proj-design{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem 0 0;
}
.proj-design img{
    padding: 0 5rem 2rem 5rem;
}
.research-paper{
    padding: 2rem;
}
.research-paper a{
    color: black;
}
.proj-plans{
    text-align:center;
}
/* --------------- skills --------------- */

/* #skills{
    scroll-behavior: smooth;
    transition: 1.5s;
} */
.skills{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:4rem;
    padding:.5rem;
    height: 100vh;
    /* background-color: purple; */
}
.skills text, ul{
    padding:.7rem;
    display: flex;
    align-items: center;
}
.skills h2{
    padding:2rem;
    color: black;
}
.black-hole{
    position: absolute;
    width: 2rem;
    background-color: black;
    display: flex;
    height: 0rem;
    border: .1rem solid black;
    border-radius: 1.5rem;
    justify-content: flex-start;
}
.skills ul li{
    font-size: 1.1em;
    list-style: none;
    padding: 0 4rem;
    color: black;
    font-weight: bold;
}

/* ------------ Work Experience ----------- */
#work-experience{
    /* scroll-behavior: smooth;
    transition: 0.5s; */
}
.work-experience{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:4rem;
    padding:.5rem;
    height: 100vh;
}
.telus-international{
    width: 70vw;
    text-align: center;
}
.telus-international h1{
    padding:2rem;
}
.pos-\&-dur{
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
}
#dur{
    font-style: italic;
    color: gray;
}
.work-info ul{
    display: flex;
    flex-direction:column;
}

/* resume/cv */
#resume\/cv{
    /* scroll-behavior: smooth;
    transition: 1.5s; */
}
.resume\/cv{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:4rem;
    padding:.5rem;
    height: 65vh;
    /* justify-content: space-evenly; */
}
.dynamic-pdf{
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
}
.downloadable-files{
    display: flex;
    padding: 1rem;
    justify-content:space-between;
}
.downloadable-files-content{
    display: flex;
    padding: 0 5rem;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
}
.downloadable-files-content text{
    font-weight: lighter;
}
.downloadable-files-content a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}
.downloadable-files-content a:hover{
    color:purple;
    /* transition: 0.2s; */
}

/* Passion */
.passion-page{
    display:flex;
    padding:.5rem;
    margin:5rem; 
    height: 65vh; 
    justify-content: center;
    align-items: center;
}
.passion-page-des{
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* padding:5rem; */
}

/* Community page */
.survey{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
}
.survey h1{
    padding: 1rem;
}
.survey a{
    text-decoration: none;
    color: purple;
}
.survey-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.survey-content p{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: .5rem;
}

/* -------------- Connect page-------------- */
.email {
    display:flex;
    justify-content: center;
    align-items: center;
    height:30rem;
    position: relative;
}
.email a{
    margin: 10rem;
    padding: 1rem 10rem;
    font-size: 6rem;
    color:black;
    position: absolute;
    text-decoration: none;
}
.email a:hover{
    border: 1rem black solid;
    box-shadow: 5rem 3rem rgb(211, 86, 211);
    position: relative;
}
/* footer */
footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.footer{
    display:flex;
    justify-content: center; 
}
.footer-innerdivs{
    padding: 5rem;
}
.social-links, .other-links{
    justify-content: center;
}
.social-links h1, .other-links h1{
    padding: 1rem;
}
.social-links ul, .other-links ul{
    display:flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: flex-start;
}
.social-links ul li a, .other-links ul li a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: black;
    font-size: 5rem;
}
.social-links ul li a:hover , .other-links ul li a:hover{
    color: purple;
    transition:0.2s;
}
.info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    font-size: 1rem;
}
.info ul{
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Mobile responsive */
/*@media screen and (max-width:500px){
    *{
        margin: 0;
        padding:0;
        width: 90%;
    }
    html{
        /* width: 90%; */
  /*      font-size:20%;
        margin:0;
        padding:0;
    }
    .intro{
        display:flex;
        /* width: 90%; */
    /*}
    .intro-para{
        margin:0;
        padding:0;
        display: inline-block;
        text-align: flex-start;
        justify-content: flex-start;
        /* position: unset; */
    /*}
    .intro-para p{
        font-size: 3rem;
    }
    .dc-img{
        display: flex;
        justify-content: flex-end;
        margin:0;
        padding: 0;
    }
    .image{
        height: 75%;
        width: 50%;
        object-fit: cover;
        object-position: 1% 1%;
        border-radius:50%;
    }
}
@media(max-width:1000px){
    *{
        margin:0;
        padding:0;
        /* width: 100%; */
    /*}
    html{
        width:100%;
        font-size: 30%;
    }
    /* .dc-img{
        height: 50%;
    }*/
/*}
@media(max-width:1500px){
    *{
        margin:0;
        padding:0;
        /* width: 100%; */
  /*  }
    html{
        width:100%;
        /* font-size: 60%; */
    /*}
    /* .dc-img{
        height: 50%;
    }*/
 /*   .intro-para{
        position:absolute;
        padding:1rem;
        width:50vw;
        margin-right:10vw;
        justify-content: center;
        align-items: center;
    }
}*/